#search-div{
    display: flex; 
    margin-top: 1%; 
    justify-content: center;
    background-color: #D95D33;
    align-items: center;
    height: 10%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}