<mat-toolbar id="header-toolbar">
    <span>Festive</span>
    <button mat-icon-button matTooltip="Meu perfil" [matMenuTriggerFor]="myProfile">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #myProfile [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="/account/my-profile">
            <mat-icon>person</mat-icon><span>Minha conta</span>
        </button>
        <button mat-menu-item routerLink="/help">
            <mat-icon>settings</mat-icon><span>Ajuda</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>Sair
        </button>
    </mat-menu>
</mat-toolbar>