@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

#title{
    font-family: 'Chewy', cursive;
    font-size: 50px;
    /* color: #ff6347; */
}

#header-toolbar{
    display: flex; 
    justify-content: space-between; 
    padding: 0 5%;
    background-color: #D95D33;
    shape-margin: 50%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}