<mat-toolbar id="header-toolbar" style="display: flex; justify-content: space-between;">
    <h1 id="title">Festive</h1>
    <div>
        <button mat-icon-button matTooltip="Ajuda" routerLink="/help">
            <mat-icon class="mat-primary large-icon">help</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Meu perfil" [matMenuTriggerFor]="myProfile">
            <mat-icon class="mat-primary large-icon">account_circle</mat-icon>
        </button>
    </div>
    <mat-menu #myProfile [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="/account/my-profile">
            <mat-icon>person</mat-icon><span>Minha conta</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>Sair
        </button>
    </mat-menu>
</mat-toolbar>