

<div id="footer">
    <div class="col">
        <h5>Contato</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none"
                    href="https://getbootstrap.com/docs/5.3/examples/pricing/#">Cool stuff</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none"
                    href="https://getbootstrap.com/docs/5.3/examples/pricing/#">Random feature</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none"
                    href="https://getbootstrap.com/docs/5.3/examples/pricing/#">Team feature</a></li>
        </ul>
    </div>
    <div class="col">
        <h5>Suporte</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none"
                    href="https://getbootstrap.com/docs/5.3/examples/pricing/#">Resource</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none"
                    href="https://getbootstrap.com/docs/5.3/examples/pricing/#">Resource name</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none"
                    href="https://getbootstrap.com/docs/5.3/examples/pricing/#">Another resource</a></li>
        </ul>
    </div>
    <div class="col">
        <h5>Sobre</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none"
                    href="https://getbootstrap.com/docs/5.3/examples/pricing/#">Team</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none"
                    href="https://getbootstrap.com/docs/5.3/examples/pricing/#">Locations</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none"
                    href="https://getbootstrap.com/docs/5.3/examples/pricing/#">Privacy</a></li>
        </ul>
    </div>
</div>

<div class="col date-section">
    <small class="d-block mb-3 text-body-secondary">© 2024</small>
</div>
