<app-nav-bar-component></app-nav-bar-component>
<app-event-carousel></app-event-carousel>
<app-search-field></app-search-field>

<div class="container" style="background-color: #2b3035;">
    <div *ngFor="let section of sections">
        <app-section-title [title]="section.sectionTitle"></app-section-title>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col" *ngFor="let item of section.events">
                <app-event-card-component 
                    [title]="item.title" 
                    [description]="item.description">
                </app-event-card-component>
            </div>
        </div>
    </div>
</div>

<app-news-letter></app-news-letter>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <app-footer></app-footer>
</footer>